MApplicationMenuStyle {
    background-image: "meegotouch-menu-background";
    background-opacity: 1.0;

    vertical-align: top;
    horizontal-align: right;

    minimum-size: 42.7mm 100%;
    preferred-size: 42.7mm 100%;
    maximum-size: 42.7mm 100%;

    margin-left: 42.7mm;
    margin-top: 0;

    left-shadow-image: meegotouch-menu-shadow-left 5px 5px 15px 15px;
}

MApplicationMenuStyle.Portrait {
    vertical-align: bottom;
    horizontal-align: center;

    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% 59.5mm;

    margin-left: 0;

    top-shadow-image: meegotouch-menu-shadow-top 15px 15px 5px 5px;
}

#ApplicationMenuActionListHolder {
    margin-left: $MARGIN_XLARGE;
    margin-top: $MARGIN_XLARGE;
    margin-right: $MARGIN_XLARGE;
    margin-bottom: $MARGIN_XLARGE;
}
